* {
    box-sizing: border-box;
  }

  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300;500;700&family=Roboto:ital,wght@0,400;0,900;1,900&display=swap');

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 50px;
  }
  body{
    background-color: #F5F3F4;
    font-family: "Noto Serif", serif;
  }
  .head{
    display: flex;
    justify-content: space-between;
  }
  ul.a-1{
    display: flex;
    gap: 50px;
    list-style: none;
  }
  a{
 text-decoration: none;
  }
  .button-head{
    width: 80px;
    height: 32px;
    border-radius: 12px;
background: #12100C;
color: white;
font-family: "Noto Serif", serif;
  }
 
  .button-main{
    width: 160px;
height: 46px;
border-radius: 16px;
background-color: #FFAE33;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
margin-right: 24px;
margin-top: 48px;
  }
  .buttons{
    display: flex;
  }
  .context{
    margin-top: 40px;
  }
  .context p{
    font-family: "Noto Serif", serif;
    color: rgba(18, 16, 12, 0.70);
  }
  .image-main{
    display: flex;
    gap: 35px;
    margin-top: 18px;
  }
  .main-header{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 75px;
  }
  .image-main-header2{
    /* margin-left: 180px;
margin-top: -280px; */

  }
.main-header1 h1{
  margin-bottom: 38px;
  font-size: 80px;
  width: 600px;
  /* font-family: 'Noto Serif', serif; */
font-family: 'Roboto', sans-serif;
}
.container h3{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 54px;
}
.container span{
  color: #999795;
  font-size: 54px;
  line-height: 63.72px; 
}
.btn1{
  border-radius: 10.5px;
background-color: #FFAE33;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
width: 162px;
height: 32px;
margin-right: 16px;
border-color: #FFAE33;
}
.btn2{
  border-radius: 10.5px;
background-color: #FFB0AE;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
width: 162px;
height: 32px;
margin-right: 16px;
border-color: #FFB0AE;
}
.div-1 h4{
  color: #12100C;
  font-family: 'Roboto', sans-serif;
font-size: 32px;
font-weight: 700;
}
.div-1 p{
  width: 648px;
  color: rgba(18, 16, 12, 0.70);
margin-top: -30px;
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-weight: 400;
}
.btns{
  margin-top: 150px;
}
.div-0{
  display: flex;
  justify-content: center;
  align-items: center;
}
.compiling{
  margin-left: 50px;
  margin-top: 100px;
}
.over{
  text-align: center;
  width: 877px;
  color: rgba(18, 16, 12, 0.70);
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-weight: 400;
border: #FFAE33;
margin-left: 216px;
}
.chrome-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 207px;
height: 47px;
border-radius: 9px;
border-color: #FFFFFF ;
background-color: #fff;

}
.chrome-button h4{
  margin-left: 10px;
}
.chrome{
  display: flex;
  gap: 16px;
  justify-content: center;
}
.gitlab-image{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 110px;
}
.gitlab-image img, .gitlab-image1 img{
  width: 100px;
  object-fit: contain;
}
.gitlab-image1{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 110px;
}
.git h4{
  color: #12100C;
text-align: center;
font-family: 'Roboto';
font-size: 32px
}
.git p{
  color: rgba(18, 16, 12, 0.70);
text-align: center;
font-family: 'Roboto';
font-size: 24px;
font-weight: 400;
margin-top: -10px;
}
.btn-bitbucket{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 262px;
height: 46px;
border-radius: 12px;
background-color: #FC6D26;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
border: none;
}
.btn-bitbucket h5{
  margin-left: 20px;
  color: #FFFFFF;
}
.btns-bitbucket button{
  margin-bottom: 16px ;
margin-left: 190px;
}
.btn-bitbucket1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 262px;
height: 46px;
border-radius: 12px;
background-color: #000;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
border: none;
}
.btn-bitbucket1 h5{
  margin-left: 20px;
  color: #FFFFFF;
}
.btn-bitbucket2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 262px;
height: 46px;
border-radius: 12px;
background-color:#2684FF;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
border: none;
}
.btn-bitbucket2 h5{
  margin-left: 20px;
  color: #FFFFFF;
}
.gitpod{
  width: 151px;
height: 31px;
border-radius: 12px;
background: #FFE4BC;
border: none;
margin-left: 245px;
}
.git{
  width: 642px;
height: 651px;
border-radius: 20px;
background: #FFF;
text-align: center;
flex-direction: column;
display: flex;
justify-content: center;
text-align: center;
}
.btns-bitbucket{
  margin-bottom: 64px;
  margin-top: 62px;
}
.workspace-btns{
  width: 530px;
height: 56px;
border-radius: 12px;
background: #F9F9F9;
display: flex;
align-items: center;
justify-content: space-around;
margin-left: 56px;
margin-top: 12px;
}
.workspace-btn{
  width: 143px;
height: 32px;
border-radius: 12px;
background: #12100C;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
color: #fff;
margin-right: -50px;
}
.workspace-btns p{
  margin-left: 25px;
  margin-top: 18px;
}
.launch{
  display: flex;
  gap: 26px;
  justify-content: center;
}
.container h3{
  margin-top: 200px;
}
.footer.container{
  background: #F9F9F9;
  width: 1440px;
height: 460px;
margin-top: 160px;
margin-left: 130px;
}
.footer-gitpod{
display: flex;
gap: 171px;
justify-content: center;
}
.gitpod-ul1.h4{
  color: #12100C;
  font-family: "Noto Serif", serif;
  width: 41px;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.5px; /* 150% */
}
.gitpod-ul1{
  text-decoration: none;
  list-style: none;
}
.gitpod-ul1.p{
  color: rgba(18, 16, 12, 0.70);
}
