* {
    box-sizing: border-box;
  }

  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300;500;700&family=Roboto:ital,wght@0,400;0,900;1,900&display=swap');

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 50px;
  }
  body{
    background-color: #F5F3F4;;
  }
  .head{
    display: flex;
    justify-content: space-between;
  }
  ul.a-1{
    display: flex;
    gap: 50px;
    list-style: none;
  }
  a{
 text-decoration: none;
  }
  .button-head{
    width: 80px;
    height: 32px;
    border-radius: 12px;
background: #12100C;
color: white;
font-family: "Noto Serif", serif;
  }
 
  .button-main{
    width: 160px;
height: 46px;
border-radius: 16px;
background-color: #FFAE33;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
margin-right: 24px;
margin-top: 48px;
  }
  .buttons{
    display: flex;
  }
  .context{
    margin-top: 40px;
  }
  .image-main{
    display: flex;
    gap: 35px;
    margin-top: 18px;
  }
  .main-header{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 75px;
  }
  .image-main-header2{
    /* margin-left: 180px;
margin-top: -280px; */

  }
.main-header1 h1{
  margin-bottom: 38px;
  font-size: 80px;
  width: 600px;
  /* font-family: 'Noto Serif', serif; */
font-family: 'Roboto', sans-serif;
}
.container h3{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 54px;
}
.container span{
  color: #999795;
  font-size: 54px;
  line-height: 63.72px; 
}
.btn1{
  border-radius: 10.5px;
background-color: #FFAE33;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
width: 162px;
height: 32px;
margin-right: 16px;
border-color: #FFAE33;
}
.btn2{
  border-radius: 10.5px;
background-color: #FFB0AE;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
width: 162px;
height: 32px;
margin-right: 16px;
border-color: #FFB0AE;
}
.div-1 h4{
  color: #12100C;
  font-family: 'Roboto', sans-serif;
font-size: 32px;
font-weight: 700;
}
.div-1 p{
  width: 648px;
  color: rgba(18, 16, 12, 0.70);
margin-top: -30px;
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-weight: 400;
}
.btns{
  margin-top: 150px;
}
.div-0{
  display: flex;
  justify-content: center;
  align-items: center;
}
.compiling{
  margin-left: 50px;
  margin-top: 100px;
}
.over{
  text-align: center;
  width: 877px;
  color: rgba(18, 16, 12, 0.70);
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-weight: 400;
}